<div class="box">
 
  <ion-item lines="none" class="ion-no-padding">
      <ion-label>Yearly Attendance</ion-label>
      <ion-label slot="end"> {{totalAttendance}}</ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
    <ion-label slot="start"><b><u>This Month</u></b></ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
      <ion-label slot="start" >Present</ion-label>
      <ion-label slot="end" style="color: green;" > {{attendaceData?.present}}</ion-label>
  </ion-item>
  <!-- <ion-item lines="none" class="ion-no-padding">
      <ion-label slot="start" >Absent</ion-label>
      <ion-label *ngFor="let list of attendaceData?.absent"> {{list | date: 'dd MMM yy'}}</ion-label>
  </ion-item> -->

  <ion-item lines="none" class="ion-no-padding" >
    <ion-label slot="start">Absent</ion-label>
    <div class="flex-container">
      <ion-label slot="end" *ngFor="let list of attendaceData?.absent" class="flex-item">
        {{list | date: 'dd MMM yy'}}
      </ion-label>
    </div>
  </ion-item>
  
</div>
