ion-card{
    background-color: #fff;
    ion-card-header{
        // padding-right: 10px;
        // background-color: #fff;
    }
    ion-card-content {
        ion-icon{
            font-size: 0.6rem;
        }
        .center{
            margin-left: 0em;
            position: absolute;
        }
    }
}
.headers {
    color: black;
}
.item-divider {
    ion-item-divider {
        padding-right: 20px;
    }
}