.main{
    padding-top: 3px;
    .shadow-box {
      display: flex;
      align-items: baseline;
      margin: -15px;
      ion-note{
          font-size: 13px;
          font-weight: bold;
      }
      ion-icon{
          font-size: 10px;
          margin-top: 13px;
          width: 8%;
      }
  }
  }

  .reccomendedcard{
    padding: 20px 23px 7px 22px;
        ion-button{
            padding: 12px 17px;
            margin: -16px;
        }
        ion-img {
            // width: 280px;
            // height: 186px;
            // object-fit: contain;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
}

.line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin: 0;
    padding: 0;
    // border-bottom: 2px solid black;
    height: 4px;
 }