
<ion-header mode="md">
  <ion-toolbar color="pinks" class="ion-padding-top">
    <ion-title class="ion-no-padding">
      <ion-label color="dark">R.B. Singh Terms and Conditions</ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/signup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="white" class="ion-padding" mode="md">

  <div class="details-text sk_details-text">
    <div class="para mb-3">
     <p>Dear Student, this is a temple of study centres where you learn a path of leading a life. By becoming an intellectual personality, you can lead your life and world.</p>
      <p>To run any institution there must behind a rule behind it and you have to obey. Like every home has its own rules &amp; regulations behind to keep calm and disciplined.</p>
      <p>To maintain the institute disciplined we have own rules and regulation too which have to be followed by each student.</p>
    </div>
    <ol>
     <li>To make your learning easy and understandable we provide digital education and simple solutions.</li>
     <li>We have course duration 8 months.</li>
     <li>You will have to maintain silence in classroom.</li>
     <li>your Mobile phone should be in silent mode in classroom.</li>
     <li>You will have to park your cycle in queue.</li>
     <li>Be punctual in your class.</li>
     <li>Course total Fee will be 4,500/- if you pay in installment. (Fee will not be refunded in any conditions)</li>
     <li>Hindi medium one-time fee is 3,500/- and English medium one-time fee is 4,000/-</li>
     <li>You must attain our test because you will get special identity by that.</li>
    </ol>
    <div class="para">
     <p>
       <b>Parents are requested to visit institute every month to take a progress report of his children because only paying money for children has not been completed your responsibility.</b>
      </p>
      <p>
        <b>(I have read all instructions carefully, I accept these terms and agreed to sign)</b>
      </p>
    </div>
 </div>
  <!-- <ion-text>
    <h5> 1. Your agreement </h5>
    <p>By using this Site, you agree to be bound by, and to comply with, these Terms and Conditions. If you do not agree
      to these Terms and Conditions, please do not use this site.</p>

    <p><b>Please notes:</b> We reserve the right, at our sole discretion, to change, modify or otherwise alter these
      Terms and Conditions at any time. Unless otherwise indicated, amendments will become effective immediately. Please
      review these Terms and Conditions periodically. Your continued use of the Site following the posting of changes
      and/or modifications will constitute your acceptance of the revised Terms and Conditions and the reasonableness of
      these standards for notice of changes. For your information, this page was last updated as of the date at the top
      of these terms and conditions.</p>

    <h5>2. Privacy</h5>

    <p>Please review our Privacy Policy, which also governs your visit to this Site, to understand our practices.</p>

    <h5>3. Linked sites</h5>
  </ion-text> -->

  <!-- <div [innerHTML]="data.description1"></div> -->
</ion-content>
