// ion-skeleton-text {
//     --border-radius: 9999px;
//     --background: rgba(188, 0, 255, 0.065);
//     --background-rgb: 188, 0, 255;
//   }

.header{
    p{
      margin: 4px;
    }
    ion-skeleton-text {
      border-radius: 5px;
  }
  }
  .category {
    width: 23vw;
    height: 10vh;
    padding: 5px;
    p{
      margin: 4px;
    }
      ion-skeleton-text {
          border-radius: 5px;
      }
  }
  .banner {
    width: 95vw;
    height: 18vh;
    padding: 7px;
    margin-top: 17px;
  }
  
  .product {
    width: 31vw;
    height: 21vh;
    padding: 5px;
    p{
      margin: 4px;
    }
    ion-skeleton-text {
      border-radius: 5px;
  }
      
  }
  .banner1 {
    width: 95vw;
    height: 18vh;
    padding: 3px;
    margin-top: 29px;
  }
  .custom-skeleton {
    width: 95vw;
    height: 3vh;
    padding: 1px;
    margin-top: 4px;
    margin-bottom: -14px;
  }

//   ion-label{
//     width: 150px;
//     height: 16vh;
//     border-radius: 5px;
// }
ion-grid{
    background-color: #fff;
    ion-skeleton-text{
        background-color: #eee;
    }
}