
<ion-grid>
  <ion-col>

  <ion-row >
      <ion-thumbnail class="category">
         <ion-skeleton-text  animated></ion-skeleton-text>
         <p><ion-skeleton-text style="width: 80%"></ion-skeleton-text></p>
         </ion-thumbnail>
         <ion-thumbnail class="category">
          <ion-skeleton-text animated></ion-skeleton-text>
          <p><ion-skeleton-text style="width: 80%"></ion-skeleton-text></p>
          </ion-thumbnail>
          <ion-thumbnail class="category">
            <ion-skeleton-text animated></ion-skeleton-text>
            <p><ion-skeleton-text style="width: 80%"></ion-skeleton-text></p>
            </ion-thumbnail>
            <ion-thumbnail class="category">
              <ion-skeleton-text animated></ion-skeleton-text>
              <p><ion-skeleton-text style="width: 80%"></ion-skeleton-text></p>
              </ion-thumbnail>
   

  </ion-row> 
  
  <ion-row>
    <ion-thumbnail class="banner">
      <ion-skeleton-text animated> 
         </ion-skeleton-text>
      </ion-thumbnail>
  </ion-row>

  <ion-row >
    <ion-thumbnail class="product">
       <ion-skeleton-text  animated></ion-skeleton-text>
       <p><ion-skeleton-text style="width: 100%"></ion-skeleton-text></p>
       </ion-thumbnail>
       <ion-thumbnail class="product">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text style="width: 100%"></ion-skeleton-text></p>
        </ion-thumbnail>
        <ion-thumbnail class="product">
          <ion-skeleton-text animated></ion-skeleton-text>
          <p ><ion-skeleton-text  style="width: 100%"></ion-skeleton-text></p>
          </ion-thumbnail>
</ion-row> 

<ion-row>
  <ion-thumbnail class="banner1">
    <ion-skeleton-text animated> </ion-skeleton-text>
    </ion-thumbnail>
</ion-row>

<ion-row >
  <ion-thumbnail class="product">
     <ion-skeleton-text  animated></ion-skeleton-text>
     <p><ion-skeleton-text style="width: 100%"></ion-skeleton-text></p>
     </ion-thumbnail>
     <ion-thumbnail class="product">
      <ion-skeleton-text animated></ion-skeleton-text>
      <p><ion-skeleton-text style="width: 100%"></ion-skeleton-text></p>
      </ion-thumbnail>
      <ion-thumbnail class="product">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text style="width: 100%"></ion-skeleton-text></p>
        </ion-thumbnail>
</ion-row> 

</ion-col>
</ion-grid>
