<ion-label color="dark">
    <h4 class="h2_heading"><strong>    Purchase video & PDF </strong> </h4>
</ion-label>

<ion-accordion-group>
    <ion-accordion value="first" class="bg_transparent">
        <ion-item slot="header" class="acordian_tab">
            <ion-label class="primary">Chapter - 2</ion-label>
        </ion-item>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            <ion-icon name="document-outline" color="danger"></ion-icon> Important point - 1
        </div>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            <ion-icon name="document-outline" color="danger"></ion-icon> Exercise - 2.1
        </div>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            <ion-icon name="document-outline" color="danger"></ion-icon> Exercise - 2.2
        </div>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            <ion-icon name="document-outline" color="danger"></ion-icon> Exercise - 2.3
        </div>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            <ion-icon name="document-outline" color="danger"></ion-icon> Exercise - 2.4
        </div>
    </ion-accordion>
    <!-- <ion-accordion value="second">
    <ion-item slot="header" class="acordian_tab">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding iner_acordian ion-margin-start ion-margin-end"  slot="content">
      Second Content
    </div>
  </ion-accordion> -->
    <ion-accordion value="third" class="bg_transparent">
        <ion-item slot="header" class="acordian_tab">
            <ion-label>Important guess paper Chapter - 4</ion-label>
        </ion-item>
        <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content">
            Third Content
        </div>
    </ion-accordion>
</ion-accordion-group>