
ion-back-button{

    padding-right: 302px;
}

.ion_img {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center
}

ion-content {
    --background: linear-gradient(360deg, rgba(138,138,138,0) 0%, rgba(138,138,138,0) 30.9%, #000 65.1%, #000 100%);
    ion-img {
        width: 312px;
    }
}


ion-card{
    border-radius: 35px;
    ion-card-header{
        ion-card-title{
            text-align: center;
            color: #1972B9;
        }
    }
}

.validationMsg{
    text-align: center;
}

ion-text{
    p{
        margin-top: 18px;
    }
}

ion-text,
ion-input {
    color: #000;
}

.ion-border {
    height: 45px;
    padding: 0 12px !important;
}

.errorMsg {
    color: red;  
    padding-left: 20px;
}

.key-icon {
    margin-right: 14px;
    margin-top: 0;
    font-size: 34px;
}

.msg-padding {
    padding: 0 20px;
}



.ion-border-password {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.view-icon {
    border: 1px solid #DADADA;
    display: inline-block;
    padding: 9px 7px;
    margin: -8px 0 0 0;
}

// .mobile{
//     ion-button{
//         border-radius: 10px !important;
//         padding: 5px 20px;
//         // border: 0px;
//     }
// }

.action-button1{
    ion-button{
        border-radius: 10px;
        padding: 2px 0px;
    }
}



