<ion-tabs mode="md">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label><b>Home</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label><b>Courses</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label><b>Test</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label><b>Account</b></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
