<ion-header>
    <ion-toolbar color="pinks" >
        <ion-buttons class="courses-panel">
            <ion-menu-button>
                <ion-icon class="menuicon" name="menu-outline"></ion-icon> 
            </ion-menu-button> <span>Courses</span>
        </ion-buttons>
        <!-- <ion-title>Courses</ion-title> -->
    </ion-toolbar>
    <app-accountbanner class="account_page" [bannerData]="header" [selectedValue]="selectedHeader" (accountType)="bannerData($event)"></app-accountbanner>
</ion-header>

<ion-content color="white">
    <!-- *ngFor="let list of alldataList" transparent-->
    <app-empty-screen *ngIf="dataIs" [model]="model"></app-empty-screen>
    <!-- <app-empty-screen *ngIf="alldataList.length <= 0" [model]="model"></app-empty-screen> -->
    <ion-accordion-group class="cours-acordian ion-no-padding" *ngFor="let list of alldataList">
        <ion-accordion  value="list.title">
            <ion-item slot="header" class="acordian_tab" color="white">
                <ion-label class="primary" (click)="alert(list)">{{list.chapter.chapter_title}}</ion-label>
            </ion-item>

            <div class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content" *ngFor="let data of list?.topic">
                <div (click)="openPdf(data)">
                    <ion-icon name="document-outline" color="danger"></ion-icon>{{data.topic_name}}
                </div>

                <!-- <ion-icon class="iconPlayer" name="play-circle-outline"></ion-icon> -->
            </div>
       
            <ng-container  *ngFor="let data of list?.topic">

                <div *ngIf="data.upload_video != ''" class="ion-padding iner_acordian ion-margin-start ion-margin-end" slot="content" >
                    <div (click)="vdoOpen(data?.upload_video)"  >
                        <ion-icon  name="play-circle-outline" color="danger"></ion-icon>{{data.topic_name}}
                    </div>
    
                    <!-- <ion-icon class="iconPlayer" name="play-circle-outline"></ion-icon> -->
                </div>
            </ng-container>
        
          
        </ion-accordion>

    </ion-accordion-group>
</ion-content>