// .footer {

// }

.exitApp .alert-wrapper {
    background-color:#FFFFFF;
}

.ion-activatable {
    height: 49px;
    background-color: #f6225e;;
    // background-color: #168dd1;
    // border-bottom: 1px solid #e4d5d5;
}


.footer {
    background: rgb(235, 5, 135);
    // background: rgb(22 141 209);
    border-top: 1px solid #fff;
}

#inbox-list {
    // background-color: #168dd1;
    background-color: #f6225e;
    padding-top: 12px;
}