.ion_img {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center
}

ion-content {
    // --background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(22, 141, 209, 1));
    --background: linear-gradient(360deg, rgba(138,138,138,0) 0%, rgba(138,138,138,0) 30.9%, #000 65.1%, #000 100%);
    ion-img {
        width: 312px;
    }
}

.login-section {
    height: 70%;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
}

.heading {
    margin-top: 20px;
    h1 {
        font-size: 1.6rem;
        font-weight: bolder;
        color: #f6225e;
    }
    .login-form {
        .form-input {
            position: relative;
            margin-bottom: 10px;
            ion-item:part(native) {
                padding-left: 0;
            }
        }
    }
}

.login-section .email_pera {
    line-height: 24px;
    margin-bottom: 0;
}