.ion_img {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center
}

// #f4245c   rgb(243,251,4)  pink 
// #f3fb04   rgb(243,251,4)  yello

ion-content {
    --background: linear-gradient(360deg, rgba(138,138,138,0) 0%, rgba(138,138,138,0) 30.9%, #000 65.1%, #000 100%);
    
    ion-img {
        width: 312px;
    }
}


ion-card{
    border-radius: 35px;
    ion-card-header{
        ion-card-title{
            text-align: center;
            color: #1972B9;
        }
    }
}

.validationMsg{
    text-align: center;
}

ion-text{
    p{
        margin-top: 18px;
    }
}

ion-text,
ion-input {
    color: #000;
}

.ion-border {
    height: 45px;
    padding: 0 12px !important;
}

.errorMsg {
    color: red;
    padding-left: 20px;
}

.key-icon {
    margin-right: 14px;
    margin-top: 0;
    font-size: 34px;
}

.msg-padding {
    padding: 0 20px;
}


// .login-section {
//     height: 70%;
//     width: 100%;
//     max-width: 100%;
//     background: #fff;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     position: fixed;
//     margin: auto;
//     box-shadow: 0px 2px 34px rgb(0 0 0 / 15%);
//     border-top-left-radius: 35px;
//     border-top-right-radius: 35px;
// }

.ion-border-password {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.view-icon {
    border: 1px solid #DADADA;
    display: inline-block;
    padding: 9px 7px;
    margin: -8px 0 0 0;
}

.mobile{
    ion-button{
        border-radius: 10px !important;
        padding: 5px 20px;
        // border: 0px;
    }
}

.action-button1{
    ion-button{
        // border-radius: 10px;
        --border-radius: 12px;
        padding: 0px 0px;
    }
}

.otherStudent{
    h4{
        margin-top: 46px;
    }
}

// .heading {
//     margin-top: 20px;
//     padding: 0 15px;
//     h1 {
//         color: #1972B9;
//         font-family: "Rubik";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 27px;
//         margin-bottom: 32px;
//         margin-top: 44px;
//     }
//     .login-form {
//         .form-input {
//             position: relative;
//             margin-bottom: 10px;
//             ion-item:part(native) {
//                 padding-left: 0;
//             }
//         }
//     }
// }

// ion-radio-group {
//     display: flex;
//     justify-content: space-between;
//     justify-content: left;
//     margin-top: -26px;
//     ion-item {
//         color: black;
//         border: 1px solid #C2C2C2;
//         border-radius: 3px;
//         width: 20%;
//         height: 36px;
//         font-size: 14px;
//         text-transform: capitalize;
//         text-align: -webkit-center;
//         padding: 0px;
//         margin-bottom: -20px;
//         text-transform: uppercase;
//         margin-right: 7px;
//         ion-radio {
//             opacity: 0;
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             margin: -8px;
//             --min-height: 100% !important;
//             --inner-border-width: 0 !important;
//             min-height: 100% !important;
//             border-width: 0 !important;
//         }
//     }
//     .item-radio-checked {
//         background: #1972B9;
//         border-color: transparent;
//         color: #fff;
//     }
// }

// .box {
//     background: #FFFFFF;
//     border: 1px solid #CDCDCD;
//     border-radius: 10px;
//     margin-bottom: 2px;
// }

// .label_content {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 36px;
// }

// .mr-bottom {
//     margin-bottom: 22px !important;
// }

// .action-button {
//     margin-top: 64px;
// }

// .ion-activatable {
//     height: 46px;
// }


// .marginTop{
//     margin-top: 5vh;
// }

