
<ion-header mode="md">
  <ion-toolbar color="pinks" class="">
      <ion-title class="ion-no-padding">
          <ion-label>{{courseDetail?.title}} Course
          </ion-label>

      </ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light_yellow" *ngIf="courseDetail">

  <ion-card color="transparent" class="premiumCourseCard" >
    <img alt="Course Details" src="assets/img/courseDetail.png" />
    <ion-card-content>
     
    
        
        <ion-item *ngFor="let lst of courseDetail?.video_details" lines="none" color="lightpink" class="ion-no-padding">
            <img src="assets/img/pointed.png" />
          <ion-label>&nbsp; &nbsp; {{lst}}</ion-label>
        </ion-item>

   <div class="main">

    <div class="shadow-box" *ngFor="let lst of courseDetail?.sub_title">
      <ion-icon color="lightpink" name="radio-button-on-outline"></ion-icon>
      <p>{{lst}}</p>
    </div>
   
   </div>

     <!-- its for Only For Line -->
     <ion-item class="line ion-no-margin" color="transparent"></ion-item>

     <ion-grid>
       <ion-row>
         <ion-col>
           <h2 *ngIf="!isfree">₹ {{courseDetail?.price}}</h2>
           <h2 *ngIf="isfree">₹ 0</h2>
           <ion-label>{{courseDetail?.description}}</ion-label>
         
         </ion-col>
         <ion-col>
           <ion-item style="padding-top: 8px;" lines="none">
               <ion-label *ngIf="!isfree">{{courseDetail?.discount}}% | DISCOUNT</ion-label>
               <ion-label *ngIf="isfree"> Its Free For this Class</ion-label>
           </ion-item>
        
         </ion-col>
       </ion-row>
  
      <ion-button (click)="buyAddCourse()" expand="block" color="yellow">Buy Now</ion-button>
     </ion-grid>


    </ion-card-content>
  </ion-card>

  
</ion-content>
